@font-face {
    font-family: 'jol';
    src: url('https://static.deckserver.net/assets/fonts/ankha2.otf') format('opentype')
}

@font-face {
    font-family: 'clans';
    src: url('https://static.deckserver.net/assets/fonts/vtes-clans.otf') format("opentype");
}

@font-face {
    font-family: 'matrix-bold';
    src: url('https://static.deckserver.net/assets/fonts/MatrixExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'matrix';
    src: url('https://static.deckserver.net/assets/fonts/MatrixIIOT-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Quorum Black';
    src: url('https://static.deckserver.net/assets/fonts/Quorum Black BT.ttf') format('truetype');
}

:root {
    --bs-body-font-size: 0.9rem;
    --bs-body-line-height: 1.3;
}

.ratio-7x10 {
    --bs-aspect-ratio: calc(88 / 63 * 100%);
    aspect-ratio: 63 / 88;
    max-width: 20%;
}

.ratio-10x7 {
    --bs-aspect-ratio: calc(63 / 88 * 100%);
    aspect-ratio: 88 / 63;
    max-width: 28%;
}

.tippy-box[data-theme~="cards"] .tippy-content {
    padding: 0;
}

.form-control, .form-select {
    line-height: 1rem;
}

.dropdown-item.active {
    background-color: var(--bs-secondary);
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

.card {
    --bs-card-cap-padding-y: 0.2rem;
    --bs-card-cap-padding-x: 0.5rem;
}

.hidden-card {
    position: relative;
    top: 0.2rem;
}

.badge {
    --bs-badge-font-weight: 400;
}

body * {
    font-family: "Times New Roman", Times, serif;
}

html, body {
    height: 100%;
    margin: 0;
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
    .footer {
        display: none !important;
    }
}

.player .card {
    background-color: #ddd;
}

.custom-modal {
    position: fixed;
    top: 25%;
    left: 40%;
    transform: translate(-40%, -50%);
    width: 100%;
    height: fit-content;
    padding: 0 !important;
}

.border-dotted {
    border-style: dotted !important;
}

#playCardModal .icon, #playCardModal .clan {
    font-size: 2rem;
}

#cardModal .icon, #cardModal .clan {
    font-size: 1.5rem;
    padding-right: 0.3rem;
}

.mhd-50 {
    max-height: 50dvh;
}

.mhd-70 {
    max-height: 70dvh;
}

.mhd-80 {
    max-height: 80dvh;
}

.mhd-90 {
    max-height: 90dvh;
}

.mhd-100 {
    max-height: 100dvh;
}

#globalChat {
    width: 100%;
    padding: 0 0.5rem;
    border: 0;
    line-height: 2rem;
}

#wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    overflow: auto;
}

#deckText {
    height: 50vh;
}

#deckErrors {
    height: 15vh;
    overflow-y: scroll;
}

p.chat {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'IM Fell English', serif;
}

nav * {
    font-family: 'IM Fell English', serif;
}

.scrollable {
    overflow-x: clip;
    overflow-y: scroll;
    overflow-wrap: break-word;
    overscroll-behavior: contain;
    height: 100%;
}

.list-group-item:hover {
    background-color: #eee;
    cursor: pointer;
}

#newMessages {
    bottom: 3.3rem;
    left: 1rem;
    width: calc(100% - 2rem);
}

.hover-success:hover {
    background-color: mediumseagreen !important;
}

.button-hover:hover {
    font-weight: 1000;
}

.chat-timestamp {
    color: #888;
    font-size: smaller;
}

p.chat a {
    display: inline;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    border-radius: 0.4rem;
    background-color: #ddd;
}

a.card-name {
    text-decoration: none;
    font-family: matrix, sans-serif;
    color: black;
    cursor: pointer;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 33%));
    justify-items: center;
    justify-content: center;
    align-items: baseline;
}

.control-grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-columns: minmax(10rem, 1fr);
    grid-auto-rows: minmax(0px, 22rem);
    grid-template-areas: 'hand commands' 'chat chat' 'info info';
}

#gameHistory {
    height: 17rem;
}

.spectator {
    grid-template-areas: 'commands commands' 'chat chat' 'info info';
}

.game-chat {
    height: 20rem;
}

@media (min-width: 576px) {
    .w-sm-25 {
        width: 25% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }
}

@media (min-width: 768px) {
    .control-grid {
        grid-template-areas: 'hand commands info' 'chat chat chat';
    }

    .spectator {
        grid-template-areas: 'commands info' 'chat chat';
    }

    .w-md-25 {
        width: 25% !important;
    }

    .w-md-33 {
        width: 33% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-66 {
        width: 66% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }
}

@media (min-width: 992px) {
    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }
}

@media (min-width: 1200px) {
    .control-grid {
        grid-template-areas: 'hand commands chat chat chat info info';
    }

    .spectator {
        grid-template-areas: 'commands chat chat chat info info';
    }

    .w-xl-20 {
        width: 20% !important;
    }

    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }
}

.hand {
    grid-area: hand;
}

.commands {
    grid-area: commands;
}

#gameChatCard {
    grid-area: chat;
}

#historyCard {
    grid-area: chat;
}

#globalNotes, #privateNotes {
    height: 50%;
}

#gameDeckCard {
    grid-area: info;
}

#notesCard {
    grid-area: info;
}

.clan {
    font-family: clans, sans-serif;
    font-size: 1.5rem;
}

.clan.abomination:before {
    content: 'A';
}

.clan.ahrimane:before {
    content: 'B';
}

.clan.akunanse:before {
    content: 'C';
}

.clan.assamite:before {
    content: 'n';
}

.clan.baali:before {
    content: 'E';
}

.clan.blood_brother:before {
    content: 'F';
}

.clan.brujah:before {
    content: 'o';
}

.clan.brujah_antitribu:before {
    content: 'H';
}

.clan.caitiff:before {
    content: 'I';
}

.clan.daughter_of_cacophony:before {
    content: 'J';
}

.clan.follower_of_set:before {
    content: 'r';
}

.clan.gangrel:before {
    content: 'p';
}

.clan.gangrel_antitribu:before {
    content: 'M';
}

.clan.gargoyle:before {
    content: 'N';
}

.clan.giovanni:before {
    content: 'O';
}

.clan.guruhi:before {
    content: 'P';
}

.clan.harbinger_of_skulls:before {
    content: 'Q';
}

.clan.ishtarri:before {
    content: 'R';
}

.clan.kiasyd:before {
    content: 'S';
}

.clan.lasombra:before {
    content: 'w';
}

.clan.malkavian:before {
    content: 'q';
}

.clan.malkavian_antitribu:before {
    content: 'V';
}

.clan.nagaraja:before {
    content: 'W';
}

.clan.nosferatu:before {
    content: 's';
}

.clan.nosferatu_antitribu:before {
    content: 'Y';
}

.clan.hecata:before {
    content: 'y';
}

.clan.osebo:before {
    content: 'Z';
}

.clan.pander:before {
    content: 'a';
}

.clan.ravnos:before {
    content: 'x';
}

.clan.salubri:before {
    content: 'c';
}

.clan.salubri_antitribu:before {
    content: 'd';
}

.clan.samedi:before {
    content: 'e';
}

.clan.toreador:before {
    content: 't';
}

.clan.toreador_antitribu:before {
    content: 'g';
}

.clan.tremere:before {
    content: 'u';
}

.clan.tremere_antitribu:before {
    content: 'i';
}

.clan.true_brujah:before {
    content: 'j';
}

.clan.tzimisce:before {
    content: 'k';
}

.clan.ventrue:before {
    content: 'v';
}

.clan.ventrue_antitribu:before {
    content: 'm';
}

.clan.banu_haqim:before {
    content: 'n';
}

.clan.ministry:before {
    content: 'r';
}

.clan.avenger:before {
    content: '1';
}

.clan.defender:before {
    content: '2';
}

.clan.innocent:before {
    content: '3';
}

.clan.judge:before {
    content: '4';
}

.clan.martyr:before {
    content: '5';
}

.clan.redeemer:before {
    content: '6';
}

.clan.visionary:before {
    content: '7';
}

.icon {
    font-family: 'jol', sans-serif;
    font-size: 1.2rem;
    padding-right: 0.1rem;
}

.icon.pool1:after {
    content: '"';
}

.icon.pool2:after {
    content: ':';
}

.icon.pool3:after {
    content: '/';
}

.icon.pool4:after {
    content: '\\'
}

.icon.pool5:after {
    content: ']';
}

.icon.pool6:after {
    content: '`';
}

.icon.poolX:after {
    content: '_';
}

.icon.blood1:after {
    content: "'";
    color: red;
}

.icon.blood2:after {
    content: ";";
    color: red;
}

.icon.blood3:after {
    content: ".";
    color: red;
}

.icon.blood4:after {
    content: ",";
    color: red;
}

.icon.bloodX:after {
    content: "-";
    color: red;
}

.icon.card-type {
    font-size: 1.3rem;
}

/*.icon.card-type.action:before {*/
/*    content: '0';*/
/*}*/

/*.icon.card-type.action_modifier:before {*/
/*    content: '1';*/
/*}*/

/*.icon.card-type.political_action:before {*/
/*    content: '2';*/
/*}*/

/*.icon.card-type.ally:before {*/
/*    content: '3';*/
/*}*/

/*.icon.card-type.combat:before {*/
/*    content: '4';*/
/*}*/

/*.icon.card-type.equipment:before {*/
/*    content: '5';*/
/*}*/

/*.icon.card-type.reflex:before {*/
/*    content: '6';*/
/*}*/

/*.icon.card-type.reaction:before {*/
/*    content: '7';*/
/*}*/

/*.icon.card-type.retainer:before {*/
/*    content: '8';*/
/*}*/

/*.icon.card-type.master:before {*/
/*    content: '9';*/
/*}*/

.icon.card-type.action_modifier.reaction:before {
    content: '17';
}

.icon.card-type.action_modifier.combat:before {
    content: "14";
}

.icon.card-type.combat.reaction:before {
    content: "47";
}

.icon.card-type.action.reaction:before {
    content: "07";
}

.icon.card-type.action.combat:before {
    content: "04";
}

/*.icon.card-type.event:before {*/
/*    content: "[";*/
/*}*/

.icon.adv:before {
    font-style: normal;
    font-weight: bolder;
    content: '|'
}

.icon.merged:before {
    font-style: normal;
    font-weight: bolder;
    content: '{'
}

.icon.aus:before {
    content: 'a';
}

.icon.AUS:before {
    content: 'A';
}

.icon.obe:before {
    content: 'b';
}

.icon.OBE:before {
    content: 'B';
}

.icon.cel:before {
    content: 'c';
}

.icon.CEL:before {
    content: 'C';
}

.icon.dom:before {
    content: 'd';
}

.icon.DOM:before {
    content: 'D';
}

.icon.dem:before {
    content: 'e';
}

.icon.DEM:before {
    content: 'E';
}

.icon.for:before {
    content: 'f';
}

.icon.FOR:before {
    content: 'F';
}

.icon.san:before {
    content: 'g';
}

.icon.SAN:before {
    content: 'G';
}

.icon.thn:before {
    content: 'h';
}

.icon.THN:before {
    content: 'H';
}

/*.icon.ani:before {*/
/*    content: 'i';*/
/*}*/

/*.icon.ANI:before {*/
/*    content: 'I';*/
/*}*/

.icon.pro:before {
    content: 'j';
}

.icon.PRO:before {
    content: 'J';
}

.icon.chi:before {
    content: 'k';
}

.icon.CHI:before {
    content: 'K';
}

.icon.val:before {
    content: 'l';
}

.icon.VAL:before {
    content: 'L';
}

.icon.mel:before {
    content: 'm';
}

.icon.MEL:before {
    content: 'M';
}

.icon.nec:before {
    content: 'n';
}

.icon.NEC:before {
    content: 'N';
}

.icon.obf:before {
    content: 'o';
}

.icon.OBF:before {
    content: 'O';
}

.icon.pot:before {
    content: 'p';
}

.icon.POT:before {
    content: 'P';
}

.icon.qui:before {
    content: 'q';
}

.icon.QUI:before {
    content: 'Q';
}

.icon.pre:before {
    content: 'r';
}

.icon.PRE:before {
    content: 'R';
}

.icon.ser:before {
    content: 's';
}

.icon.SER:before {
    content: 'S';
}

.icon.tha:before {
    content: 't';
}

.icon.THA:before {
    content: 'T';
}

.icon.vis:before {
    content: 'u';
}

.icon.VIS:before {
    content: 'U';
}

.icon.vic:before {
    content: 'v';
}

.icon.VIC:before {
    content: 'V';
}

.icon.abo:before {
    content: 'w';
}

.icon.ABO:before {
    content: 'W';
}

.icon.myt:before {
    content: 'x';
}

.icon.MYT:before {
    content: 'X';
}

.icon.dai:before {
    content: 'y';
}

.icon.DAI:before {
    content: 'Y';
}

.icon.spi:before {
    content: 'z';
}

.icon.SPI:before {
    content: 'Z';
}

.icon.obt:before {
    content: '$';
}

.icon.OBT:before {
    content: '£';
}

.icon.tem:before {
    content: '?';
}

.icon.TEM:before {
    content: '!';
}

.icon.obl:before {
    content: 'ø';
}

.icon.OBL:before {
    content: 'Ø';
}

.icon.str:before {
    content: 'à';
}

.icon.STR:before {
    content: 'á';
}

.icon.mal:before {
    content: 'â';
}

.icon.MAL:before {
    content: 'ã';
}

.icon.flight:before, .icon.FLIGHT:before {
    content: "^";
}

.icon.D:before {
    content: "}";
}

.icon.inn:before {
    content: "#";
}

.icon.jud:before {
    content: "%";
}

.icon.viz:before {
    content: ")";
}

.icon.ven:before {
    content: "(";
}

.icon.def:before {
    content: "@";
}

.icon.mar:before {
    content: "&";
}

.icon.red:before {
    content: "*";
}

.icon.conviction:before {
    content: "¤";
}

.icon.burn:before {
    content: "~";
}

.icon.merge:before {
    content: "{";
}

.path {
    font-family: 'clans', sans-serif;
    font-size: 1.5em;
}

.path.caine:before {
    content: "#";
}

.path.cathari:before {
    content: "$";
}

.path.death_and_the_soul:before {
    content: "%";
}

.path.power_and_the_inner_voice:before {
    content: "&";
}

.sect.independent:before {
    content: "Independent";
}

.sect.anarch:before {
    content: "Anarch";
}

.sect.camarilla:before {
    content: "Camarilla";
}

.sect.laibon:before {
    content: "Laibon";
}

.sect.sabbat:before {
    content: "Sabbat";
}